In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/Users/vishruthvijay/Documents/IIITB-Docs/SEM-5/DV/A1/COVID19_DATA/timeseries/confirmed_cases.csv')

In [5]:
df_new = df[['country_name', 'Nov2021']]
df_new

df_new.to_csv('updated_nonh.csv', index=False)

In [14]:
df_selected = df_usa[['CountryCode', 'RegionName', 'RegionCode', 'Date', 'ConfirmedCases']].copy()
df_selected

       CountryCode RegionName RegionCode        Date  ConfirmedCases
179172         USA     Alaska      US_AK  20200101.0             NaN
179173         USA     Alaska      US_AK  20200102.0             NaN
179174         USA     Alaska      US_AK  20200103.0             NaN
179175         USA     Alaska      US_AK  20200104.0             NaN
179176         USA     Alaska      US_AK  20200105.0             NaN
...            ...        ...        ...         ...             ...
215429         USA    Wyoming      US_WY  20211207.0        112368.0
215430         USA    Wyoming      US_WY  20211208.0        112551.0
215431         USA    Wyoming      US_WY  20211209.0        112731.0
215432         USA    Wyoming      US_WY  20211210.0             NaN
215433         USA    Wyoming      US_WY  20211211.0             NaN

[36261 rows x 5 columns]

In [ ]:
import pandas as pd


df_selected['Date'] = pd.to_datetime(df_selected['Date'], format='%Y%m%d')


df_selected['Month'] = df_selected['Date'].dt.to_period('M')


df_selected['ConfirmedCases'] = df_selected['ConfirmedCases'].fillna(method='ffill')

monthly_region_data = (
    df_selected
    .groupby(['RegionCode', 'Month'])['ConfirmedCases']
    .last()
    .groupby(level=0)
    .diff()
    .fillna(0)
    .reset_index()
)


monthly_region_data.rename(columns={'ConfirmedCases': 'MonthlyCases'}, inplace=True)

monthly_region_data

/var/folders/32/_crg6wsd72gg8rr72wvnrbr00000gn/T/ipykernel_32189/507969175.py:10: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_selected['ConfirmedCases'] = df_selected['ConfirmedCases'].fillna(method='ffill')

     RegionCode    Month  MonthlyCases
0         US_AK  2020-01           0.0
1         US_AK  2020-02           0.0
2         US_AK  2020-03         129.0
3         US_AK  2020-04         231.0
4         US_AK  2020-05         124.0
...         ...      ...           ...
1219      US_WY  2021-08       10009.0
1220      US_WY  2021-09       15466.0
1221      US_WY  2021-10       12324.0
1222      US_WY  2021-11        8163.0
1223      US_WY  2021-12        1642.0

[1224 rows x 3 columns]

In [13]:
monthly_region_data.to_csv('monthly_region_data.csv',index=False)

In [15]:
region_codes = df_usa['RegionCode'].unique()
print(region_codes)

['US_AK' 'US_AL' 'US_AR' 'US_AZ' 'US_CA' 'US_CO' 'US_CT' 'US_DC' 'US_DE'
 'US_FL' 'US_GA' 'US_HI' 'US_IA' 'US_ID' 'US_IL' 'US_IN' 'US_KS' 'US_KY'
 'US_LA' 'US_MA' 'US_MD' 'US_ME' 'US_MI' 'US_MN' 'US_MO' 'US_MS' 'US_MT'
 'US_NC' 'US_ND' 'US_NE' 'US_NH' 'US_NJ' 'US_NM' 'US_NV' 'US_NY' 'US_OH'
 'US_OK' 'US_OR' 'US_PA' 'US_RI' 'US_SC' 'US_SD' 'US_TN' 'US_TX' 'US_UT'
 'US_VA' 'US_VT' 'US_WA' 'US_WI' 'US_WV' 'US_WY']

In [ ]:
from io import StringIO


data = """
country_name,Nov2021
Aruba,16354.0
Afghanistan,157289.0
Angola,65168.0
Albania,199945.0
Andorra,17115.0
United Arab Emirates,742041.0
Argentina,5330748.0
Australia,211655.0
Austria,1159995.0
Azerbaijan,588318.0
Burundi,20415.0
Belgium,1766035.0
Benin,24850.0
Burkina Faso,16000.0
Bangladesh,1576284.0
Bulgaria,695057.0
Bahrain,277690.0
Bahamas,22791.0
Bosnia and Herzegovina,275065.0
Belarus,654718.0
Belize,30431.0
Bermuda,5748.0
Bolivia,537559.0
Brazil,22094459.0
Barbados,25316.0
Brunei,15058.0
Bhutan,2640.0
Botswana,195068.0
Central African Republic,11708.0
Canada,1800867.0
Switzerland,1014662.0
Chile,1762751.0
China,98824.0
Cote d'Ivoire,61724.0
Cameroon,106794.0
Democratic Republic of Congo,58234.0
Congo,18970.0
Colombia,5069644.0
Comoros,4501.0
Cape Verde,38370.0
Costa Rica,566839.0
Cuba,962486.0
Cyprus,134473.0
Czech Republic,2150042.0
Germany,5923564.0
Djibouti,13504.0
Dominica,6028.0
Denmark,487401.0
Dominican Republic,407251.0
Algeria,210531.0
Ecuador,526870.0
Egypt,358578.0
Eritrea,7358.0
Spain,5164184.0
Estonia,222584.0
Ethiopia,371536.0
Finland,186538.0
Fiji,52506.0
France,7486179.0
Faeroe Islands,3626.0
Gabon,37342.0
United Kingdom,10228772.0
Georgia,845643.0
Ghana,130920.0
Guinea,30770.0
Gambia,9989.0
Greece,938903.0
Greenland,1456.0
Guatemala,617984.0
Guam,19199.0
Guyana,37874.0
Hong Kong,12436.0
Honduras,377859.0
Croatia,608205.0
Haiti,25175.0
Hungary,1103108.0
Indonesia,4256409.0
India,34596776.0
Ireland,570115.0
Iran,6117445.0
Iraq,2081172.0
Iceland,17894.0
Israel,1343660.0
Italy,5028547.0
Jamaica,91249.0
Jordan,953943.0
Japan,1726636.0
Kazakhstan,1054972.0
Kenya,255088.0
Kyrgyz Republic,183351.0
Cambodia,120134.0
Kiribati,2.0
South Korea,452350.0
Kuwait,413362.0
Laos,73738.0
Lebanon,670656.0
Liberia,5824.0
Libya,372636.0
Liechtenstein,4678.0
Sri Lanka,563989.0
Lesotho,21779.0
Lithuania,470298.0
Luxembourg,89181.0
Latvia,253659.0
Macao,77.0
Morocco,949917.0
Monaco,3738.0
Moldova,363774.0
Madagascar,44330.0
Mexico,3884566.0
Mali,17434.0
Malta,39435.0
Myanmar,522402.0
Mongolia,382082.0
Mozambique,151548.0
Mauritania,39266.0
Mauritius,21543.0
Malawi,61916.0
Malaysia,2632782.0
Namibia,129187.0
Niger,7007.0
Nigeria,214218.0
Nicaragua,17254.0
Netherlands,2643176.0
Norway,267843.0
Nepal,821366.0
New Zealand,11723.0
Oman,304554.0
Pakistan,1285254.0
Panama,477742.0
Peru,2236351.0
Philippines,2832734.0
Papua New Guinea,35179.0
Poland,3540061.0
Puerto Rico,188448.0
Portugal,1147249.0
Paraguay,463058.0
Palestine,460053.0
Qatar,243447.0
Kosovo,161091.0
Romania,1779667.0
Russia,9468640.0
Rwanda,100349.0
Saudi Arabia,549752.0
Sudan,43084.0
Senegal,73987.0
Singapore,264725.0
Solomon Islands,20.0
Sierra Leone,6402.0
El Salvador,119803.0
San Marino,6039.0
Somalia,23016.0
Serbia,1254845.0
South Sudan,12758.0
Suriname,50848.0
Slovak Republic,1170200.0
Slovenia,420898.0
Sweden,1204859.0
Eswatini,46656.0
Seychelles,23417.0
Syria,48170.0
Chad,5107.0
Togo,26265.0
Thailand,2115872.0
Tajikistan,17493.0
Turkmenistan,
Timor-Leste,19823.0
Tonga,1.0
Trinidad and Tobago,71361.0
Tunisia,717572.0
Turkey,8797558.0
Taiwan,16601.0
Tanzania,26270.0
Uganda,127550.0
Ukraine,3606622.0
Uruguay,399695.0
United States,48560466.0
Uzbekistan,193208.0
Venezuela,431296.0
United States Virgin Islands,7511.0
Vietnam,1238082.0
Vanuatu,6.0
Yemen,10004.0
South Africa,2968052.0
Zambia,210169.0
Zimbabwe,134625.0
"""


df = pd.read_csv(StringIO(data))


filtered_df = df[df['Nov2021'] > 500000.0]

# Displaying the filtered result
filtered_df.to_csv('./updated_nonh2.csv', index=False)
filtered_df.head()

            country_name    Nov2021
5   United Arab Emirates   742041.0
6              Argentina  5330748.0
8                Austria  1159995.0
9             Azerbaijan   588318.0
11               Belgium  1766035.0